* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./logo_css_con_background.png);
    background-position:left;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: left;
    height:100px;

}

.ToDoList {
    font-weight: bold;
    margin-left: 184px;
    height: 100px;
    background-color: white;
    font-size: 30px;
   
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.primo {
    background-color: lightskyblue;
    color:aliceblue;
    border-width: 3px;
    border-color: white;
    font-size: 15px;
    height: 50px;
    width:100px;

}

.secondo {
    background-color: white;
    border-width: 3px;
    color: grey;
    font-size: 15px;
    border-color:grey;
    height: 50px;
    width:100px;

}

.vuoto{
    width: 500px;
    height:auto;
    margin: 40px auto;
    background-color: white;
    padding:20px;
}

body{
    background-color: grey;
}

ul{
    list-style-type: none;
    font-size: larger;
    margin-bottom: 30px;
}

li{
    margin-bottom: 20px;
    margin-left: 35px;
}

.editorial{
    background-color: rgb(0, 166, 255);
    color: white;
    border-radius: 20cm;
    padding:5px
}

.q1{
    background-color: purple;
    color:white;
    border-radius: 20%;
    padding: 5px;
}

.recruiting{
    background-color: green;
    color: white;
    border-radius: 20%;
    padding: 5px;
}

.mobile{
    background-color: orange;
    color: white;
    border-radius: 20%;
    padding: 5px;
}

.website{
    background-color: pink;
    color:white;
    border-radius: 20%;
    padding: 5px;
}
.sales{
    background-color: yellowgreen;
    color:white;
    border-radius: 20%;
    padding: 5px;
}
.rosso{
    color:red;
    border-radius: 20%;
    border-color: red;
    font-size: 30px;
    border-style: dotted ;

}
.verde{
    font-size: 30px;
    color:green;
    border-radius: 50%;
    border-color: green;
    border-style: dotted
;
}