h1{
    color: red;
    text-align: center;
}

h2{
    color: white;
    position: absolute;
    text-align: left;
    margin-top: 235px;

}

body{
    background-color: white;
}

.mestiere1{
    color: white;
    position:absolute;
    text-align: left;
    margin-top: 280px;
    font-size: 20px;

}

.mestiere2{
    color: white;
    position:absolute;
    text-align: left;
    margin-top: 280px;
    font-size:20px;


}

.mail1, .mail2 {
    position: absolute;
    left: 20px;
    top: 320px;
}



p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;

}

img {
    height: 200px;
    width: 200px;
    float: left;
}

.finestra{
    background-color: black;
    height: 400px;
    width: 400px;
    margin-bottom: 40px;
    margin-right: 40px;
    position:relative;
}

